.main{
    height: 100vh !important;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Lato', sans-serif ;
    font-weight: 1000;
    margin-left: 0;
    margin-right: 0;
    padding: 10;
}
.al{
    height:25%;
} 
.logo {
    height: 25%;
    padding-top: 2%;
    padding-right: 2%;
    width: 100%;
    position: absolute;
    left: 0px;
    display: flex;
    justify-content: flex-end;
}
.wrapper-background{
    /* aspect-ratio: 960/540; */
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./Images/GT/blob-scene-haikei.svg');
    overflow-y: hidden;

}
.full-row{
    height: 100%;
}
.col-center{
    display: flex;
    align-items: center;
}


