.main{
    height: 100vh !important;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Lato', sans-serif ;
    font-weight: 1000;
    margin-left: 0;
    margin-right: 0;
    padding: 10;
}
.al{
    height:25%;
} 
.wrapper-background{
    background: #a8c0ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.full-row{
    height: 100%;
}
.col-center{
    display: flex;
    align-items: center;
}